body {
  max-width: 800px;
  margin: 0 auto;
  padding: 15px;
  background-color: rgb(132, 189, 199);
}

.headInp {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;
}
.bodyInp {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.cheked {
 display: flex;
  flex-direction: column;
  border: 2px solid rgb(50, 46, 132);
  border-radius: 10px;
  background-color: rgb(112, 163, 197);
  padding: 15px;
  width: 200px;
}
#need {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}
.needs{
  margin: 10px;
  padding: 10px;
  background-color: aliceblue;
  border: 2px solid rgb(50, 46, 132);
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
}
.needEdit{
  margin: 10px;
  padding: 10px;
  border: 2px solid rgb(50, 46, 132);
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
}
  
.styleadd {
  margin: 10px;
  padding: 10px;
  border: 2px solid rgb(50, 46, 132);
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
}
